@use '../config';
@use '../../design-system/nebula/scss/tokens.scss';

// Bootstrap docs: https://getbootstrap.com/docs/5.3/utilities/api/
$utilities: (
  // Background colors
  'background-color':
    (
      property: background-color,
      class: bg,
      values: map-get(tokens.$tokens, 'color', 'background'),
    ),

  // Text colors
  'color':
    (
      property: color,
      class: text,
      values: map-get(tokens.$tokens, 'color', 'text'),
    ),

  // Typography
  'font-family':
    (
      property: font-family,
      class: font,
      values: map-get(tokens.$tokens, 'typography', 'font', 'family'),
    ),
  'font-size': (
    property: font-size,
    class: fs,
    values: map-get(tokens.$tokens, 'typography', 'font', 'size'),
  ),
  'font-weight': (
    property: font-weight,
    class: fw,
    values: map-get(tokens.$tokens, 'typography', 'font', 'weight'),
  ),
  'line-height': (
    property: line-height,
    class: lh,
    values: map-get(tokens.$tokens, 'typography', 'font', 'line-height'),
  ),

  // Spacing
  'margin':
    (
      property: margin,
      class: m,
      values: map-get(tokens.$tokens, 'spacing', 'spacing'),
    ),
  'margin-x': (
    property: margin-right margin-left,
    class: mx,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'margin-y': (
    property: margin-top margin-bottom,
    class: my,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'margin-top': (
    property: margin-top,
    class: mt,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'margin-right': (
    property: margin-right,
    class: me,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'margin-bottom': (
    property: margin-bottom,
    class: mb,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'margin-left': (
    property: margin-left,
    class: ms,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'padding': (
    property: padding,
    class: p,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'padding-x': (
    property: padding-right padding-left,
    class: px,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'padding-y': (
    property: padding-top padding-bottom,
    class: py,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'padding-top': (
    property: padding-top,
    class: pt,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'padding-right': (
    property: padding-right,
    class: pe,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'padding-bottom': (
    property: padding-bottom,
    class: pb,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'padding-left': (
    property: padding-left,
    class: ps,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),

  // Gap utilities
  'gap':
    (
      property: gap,
      class: gap,
      values: map-get(tokens.$tokens, 'spacing', 'spacing'),
    ),
  'row-gap': (
    property: row-gap,
    class: row-gap,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),
  'column-gap': (
    property: column-gap,
    class: column-gap,
    values: map-get(tokens.$tokens, 'spacing', 'spacing'),
  ),

  // Border radius
  'border-radius':
    (
      property: border-radius,
      class: rounded,
      values: map-get(tokens.$tokens, 'radius', 'radius'),
    )
);
