@use 'sass:map';
@use '../config';
@use '../../design-system/nebula/scss/tokens.scss';

@mixin create-icon-classes() {
  $icons-assets: map.get(tokens.$tokens, 'content', 'icon-glyph');

  .#{config.$prefix}icon {
    font-family: '#{tokens.$iconography-font-family-icon}';
    font-style: normal;

    // Icon names
    @each $icon-key, $icon-name in $icons-assets {
      &-#{$icon-name}::before {
        content: '#{$icon-name}';
      }
    }

    // Icon sizes
    $icon-sizes: map.get(tokens.$tokens, 'iconography', 'font', 'size');
    @each $icon-size-key, $icon-size-value in $icon-sizes {
      &--#{$icon-size-key}::before {
        font-size: $icon-size-value;
        line-height: $icon-size-value;
      }
    }

    // Icon weights
    $icon-weights: map.get(tokens.$tokens, 'iconography', 'font', 'weight');
    @each $icon-weight-key, $icon-weight-value in $icon-weights {
      $font-weight: map.get(
        tokens.$tokens,
        'typography',
        'font',
        'weight',
        $icon-weight-key
      );
      &--#{$icon-weight-key}::before {
        font-weight: #{$font-weight};
      }
    }
  }
}
